/* Font Face */
@font-face {
  font-family: 'AlKanz';
  src: url('fonts/al-kanz fonts.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Body Styles */
body {
  background-image: url('pattern.jpeg');
  background-repeat: repeat;
  font-family: 'AlKanz', sans-serif;
  font-size: 16px; /* Adjust font size as needed */
  color: #333; /* Main text color */
}

/* Heading Styles */
h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="file"] {
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Results List Styles */
#results-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#results-list li {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#results-list .file-name {
  font-size: 18px;
  font-weight: bold;
  color: #007bff; /* File name color */
  margin-bottom: 5px;
}

#results-list .line-number {
  color: #888;
  font-size: 0.9em;
  margin-bottom: 5px;
}

#results-list .content {
  margin-bottom: 10px;
}

#results-list .highlighted-content {
  background-color: #ffffcc; /* Highlighted text background color */
  padding: 3px;
  border-radius: 3px;
}

#results-list .highlight {
  background-color: yellow; /* Highlighted text color */
}

/* Pagination Wrapper */
#pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Pagination Styles */
#pagination {
  display: flex;
  align-items: center;
  gap: 5px;
}

#pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

#pagination button:hover {
  background-color: #0056b3;
}

#pagination button.active {
  background-color: #ff5733;
}

/* Toggle Navbar Button */
#toggle-navbar {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

#toggle-navbar:hover {
  background-color: #0056b3;
}
